/* Animation 1: Falling
   Bolden falder konstant fra oven. */
.falling {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bouncing {
  animation-name: bouncing;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.drop {
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.pattern {
  animation-name: pattern;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.zoom_out {
  animation-name: zoom_out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.zoom_in {
  animation-name: zoom_in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.fade_out {
  animation-name: fade_out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.fade_in {
  animation-name: fade_in;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.rotation {
  animation-name: rotation;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -300%);
  }
  100% {
    transform: translate(0, 300%);
  }
}
@keyframes bouncing {
  0% {
    transform: translate(0, -140%);
  }
  100% {
    transform: translate(0, 140%);
  }
}
@keyframes drop {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 140%);
  }
}
@keyframes pattern {
  0% {
    transform: translate(0, 140%);
  }
  25% {
    transform: translate(-140%, 0);
  }
  50% {
    transform: translate(0, -140%);
  }
  75% {
    transform: translate(140%, 0);
  }
  100% {
    transform: translate(0, 140%);
  }
}
@keyframes zoom_out {
  100% {
    transform: scale(0.1);
  }
}
@keyframes zoom_in {
  100% {
    transform: scale(10);
  }
}
@keyframes fade_out {
  100% {
    opacity: 0;
  }
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
