/* Animation 1: Falling
   Bolden falder konstant fra oven. */
.falling {
  animation-name: falling;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bouncing {
  animation-name: bouncing;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.drop {
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
.pattern {
  animation-name: pattern;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes falling {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 300%);
  }
}
@keyframes bouncing {
  0% {
    transform: translate(0, -140%);
  }

  100% {
    transform: translate(0, 140%);
  }
}
@keyframes drop {
  0% {
    transform: translate(0, -300%);
  }

  100% {
    transform: translate(0, 140%);
  }
}
@keyframes pattern {
  0% {
    transform: translate(0, 140%);
  }
  25% {
    transform: translate(-140%, 0);
  }
  50% {
    transform: translate(0, -140%);
  }
  75% {
    transform: translate(140%, 0);
  }
  100% {
    transform: translate(0, 140%);
  }
}
